@model MVCBoutik.Areas.Boutik.Models.Panier

@{
    ViewBag.Title = "AddToBasket";
}

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image"></td>
                        <td class="description">Developer</td>
                        <td class="price">Prix</td>
                        <td class="quantity">Quantité</td>
                        <td class="dateDebut">Date de début</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Lignes)
                    {
                        Html.RenderPartial("_Ligne", item);
                        @* <tr>
                            <td class="cart_product">
                                <a href="">
                                    <img src="~/content/images/home/@Html.DisplayFor(modelItem => item.ZeDave.DevPicture)" alt="" style="width:80px;" />
                                </a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@Html.DisplayFor(modelItem => item.ZeDave.DevFirstName) @Html.DisplayFor(modelItem => item.ZeDave.DevName)</a></h4>
                                <p>@Html.DisplayFor(modelItem => item.ZeDave.NomCategPrincipal)</p>
                            </td>
                            <td class="cart_price">
                                <p>@Html.DisplayFor(modelItem => item.ZeDave.DevHourCost)/h</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@Html.DisplayFor(modelItem => item.Qte)" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@((int)item.Qte * (int)item.ZeDave.DevHourCost) €</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>*@
                    }
                </tbody>
            </table>
            <section id="do_action">
                <div class="container">
                    <div class="heading">
                        <h3>Que voulez-vous faire maintenant?</h3>
                        <p>Valider votre panier ou rajouter un nouveau developer?</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="total_area">
                                <ul>
                                    <li>Total HTVA<span>@Model.Total €</span></li>
                                    <li>TVA <span>+ 21%</span></li>
                                    <li>
                                        Total TVAC<span>
                                            @{
                                            double tot = @Model.Total * 21;
                                            double totglobal = (tot / 100) + @Model.Total;
                                        }
                                        @totglobal €
                                    </span>
                                </li>
                            </ul>
                            <a class="btn btn-default update" href="~/Home/Index">Ajouter un nouveau developer</a>
                            <a class="btn btn-default check_out" href="~/Boutik/Panier/ConfirmerPanier">Valider le panier</a>
                        </div>
                    </div>

                </div>

            </div>
                </section>
            </div>
        </div>
        </section>



