@model MVCBoutik.Areas.Boutik.Models.Ligne
<tr>
<td class="cart_product">
    <a href="">
        <img src="~/content/images/home/@Model.ZeDave.DevPicture" alt="" style="width:80px;" />
    </a>
</td>
<td class="cart_description">
    <h4><a href="">@Model.ZeDave.DevFirstName @Model.ZeDave.DevName</a></h4>
    <p>@Model.ZeDave.NomCategPrincipal</p>
</td>
<td class="cart_price">
    @{
        if (Model.Choix == Model.ZeDave.DevHourCost)
      {
               <p>@Model.ZeDave.DevHourCost €/heure</p>
      }
        else if (Model.Choix == Model.ZeDave.DevDayCost)
      {
                <p>@Model.ZeDave.DevDayCost €/jour</p>
      }
      else
      {
                <p>@Model.ZeDave.DevMonthCost €/mois</p> 
      }
          }
</td>
<td class="cart_quantity">
    <div class="cart_quantity_button">
        @Html.ActionLink("+", "AddToBasket", "Panier", new { area = "Boutik", id= @Model.ZeDave.IdDev, qte = 1, op = true }, null)
        <input class="cart_quantity_input" type="text" name="quantity" value="@Model.Qte" autocomplete="off" size="2">
        @Html.ActionLink("-", "AddToBasket", "Panier", new { area = "Boutik", id = @Model.ZeDave.IdDev, qte = 1, op = false }, null)
    </div>
</td>
<td class="cart_total">
    <p class="cart_total_price">
    @{ 
        int price;
        if (Model.Choix == Model.ZeDave.DevHourCost)
      {

          price = (int)Model.Qte * (int)Model.ZeDave.DevHourCost;
      }
        else if (Model.Choix == Model.ZeDave.DevDayCost)
      {
          price = (int)Model.Qte * (int)Model.ZeDave.DevDayCost;
      }
      else
      {
          price = (int)Model.Qte * (int)Model.ZeDave.DevMonthCost;
      }
    } 
        @price €
</td>
<td class="cart_delete">
    <form method="post" action="~/Boutik/Panier/SupLigne" class="cart_quantity_delete">
        <input type="hidden" value="@Model.ZeDave.IdDev" name="id"/>
        <input type="submit" value="delete"/>
    </form>
</td>
    </tr>
